{% extends "shopapp/base_generic.html" %}

{% block content %} 

<b>Brand:</b> {{obj.brand.name}} <br/>
<b>Model:</b> {{obj.model}} <br/>
<b>Price:</b> {{obj.price}} <br/>
<b>Diagonal:</b> {{obj.diagonal}} <br/>
<b>HDMI:</b> {{obj.hdmi_num}} <br/>
<b>VGA:</b> {{obj.vga_num}} <br/>

{% if user.is_authenticated %}
<form action="{% url 'shopapp:buy_item' obj.unique_id.id %}" method="post">
{% csrf_token %}
	<input type="submit" value="Buy"/>
	
</form>
{% else %}
<b>Login to buy!</b>
{% endif %} 

{% endblock %}
